fastapi
uvicorn[standard]
python-multipart
python-dotenv
azure-storage-blob

onnxruntime
optimum[onnxruntime]
transformers
numpy

faiss-cpu

langchain-text-splitters

pandas
openpyxl
xlrd
odfpy
tqdm

pypdf
pymupdf
python-docx
python-pptx
beautifulsoup4
lxml
striprtf
pyyaml
tomli
markdown

google-api-python-client
google-auth
google-auth-httplib2

msal

requests
httpx
orjson
